.nav {
    grid-area: n;
    background-color:#4A76A8;
    padding: 20px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

.item a.active {
    color: gold;
}